:root {
  --square-size: calc(10vh - 2px);
}

/* Main container */
#container {
	background-color: burlywood;
	display: flex;
	height: 100vh;
	width: 100vw;
}

/* Gameboard */
#gameboard {
  border: 15px solid sienna;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 80vh;
  margin: auto;
  width: 80vh;
}

/* Start Squares */
.square {
  border: 1px solid bisque;
  height: var(--square-size);
  width: var(--square-size);
}

.light {
  background-color: bisque;
}

.dark {
  background-color: sienna;
}

.valid {
  background-color: gold !important;
  cursor: pointer;
}

.previous {
  background-color: blue !important;
}

.current {
  background-color: white !important;
}
/* End Squares */

/* Start Pieces */
.piece {
	background-size: contain;
  cursor: pointer;
	height: 9vh;
	margin: 0.5vh;
	width: 9vh;
}

.pointer {
  cursor: pointer;
}
/* End Pieces */

/* Start Modal and Skip Button */
#open-modal-btn,
#skip-btn {
  background-color: sienna;
  border: none;
  border-radius: 10px;
  color: bisque;
  cursor: pointer;
  font-weight: bold;
  left: 50%;
  padding: 5px 10px;
  position: absolute;
  transform: translate(-50%, 0%);
}

#open-modal-btn {
  top: 0.5rem;
}

#skip-btn {
  bottom: 0.5rem;
}

#open-modal-btn:hover {
  background-color: bisque;
  color: sienna;
}

#myModal {
	background-color: sienna;
  border-radius: 10px;
  color: bisque;
  display: none;
  height: 50%;
  left: 50%;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

#modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 100%;
}

#close-modal {
	color: bisque;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 5px;
}

#close-modal:hover,
#close-modal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#play-again-btn {
	background-color: bisque;
  border: 1px solid bisque;
	border-radius: 10px;
	color: sienna;
	cursor: pointer;
	font-weight: bold;
	margin: 0 auto;
	padding: 5px 10px;
	width: fit-content;
}

#play-again-btn:hover {
  background-color: sienna;
  color: bisque;
}
/* End Modal */
